body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.formDiv {
  border: 10px dashed gainsboro; 
  padding: 20px; 
  margin-bottom: 20px;
}

textarea {
  width:50%; 
  height:120px; 
  margin-bottom:20px;
}

.resultsDiv > img {
  float: right;
  max-height: 100%;
}

.resultsDiv {
  height: 200px;
  margin-bottom: 20px;
}

#displayProduct {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto auto;
}

.card {
  border: 3px solid gainsboro;
}

.card img {
  max-width: 200px;
  max-height: 200px;
}

#product > div {
  display: flex;
  justify-content: space-between;
}

#product > div > div {
  margin: 0 auto;
}

.shortInput {
  width: 45px;
}