body {
  padding: 5vw;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.formDiv {
  border: 10px dashed gainsboro; 
  padding: 20px; 
  margin-bottom: 20px;
}

textarea {
  width:50%; 
  height:120px; 
  margin-bottom:20px;
}

.resultsDiv > img {
  float: right;
  max-height: 100%;
}

.resultsDiv {
  height: 200px;
  margin-bottom: 20px;
}

#displayProduct {
  display: grid;
  gap: 5px;
  grid-template-columns: auto;

}

@media screen and (min-width: 500px) {
  #displayProduct{  
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  #displayProduct{  
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  #displayProduct{  
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  border: 3px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  max-width: 100%;
}

.card-details {
  padding: 5px;
}

.card-details * {
  margin: 5px 0 0 0;
  padding: 0;
}

.card-details h4 {
  text-align: center;
}

.card-details button {
  width: 100%;
}

#product > div {
  display: flex;
  justify-content: space-between;
}

#product > div > div {
  margin: 0 auto;
}

.shortInput {
  width: 45px;
}